<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captured meals</title>
    <script src="{{ url_for('static', filename='js/meals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/food_register.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
    <p>
    <a href="{{ url_for('index') }}">Take a food photo</a>
    </p>
    <form action="{{ url_for('meals') }}" method="post">
        Data filtred from <input type="text" name="datepicker" id="datepicker" value="{{start_date}}"/> 
        <input type="submit" value="Filter" />
    </form>
    </p>
    <script>
        flatpickr("#datepicker", {});
      </script>
    <table style="border: 1px solid black; border-collapse: collapse;">
        <colgroup>
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
        </colgroup>
        <thead>
            <tr style="border: 1px solid black;">
                <th align="left">Created At</th>
                <th align="left">Food Type</th>
                <th align="right">Glycemic Index</th>
                <th align="right">Weight (gr)</th>
                <th align="left">Picture</th>
            </tr>
            {%for food_register in food_registers%}
            <tr style="border-bottom: 1px solid black;">
                <td>{{food_register['created_at'].strftime('%Y-%m-%d %H:%M')}}</td>
                <td>{{food_register['food_type']}}</td>
                <td>{{food_register['glycemic_index']}}</td>
                <td>{{food_register['weight_grams']}}</td>
                <td><a href="/view_photo/{{food_register['file_uid']}}">
                        <img src="/photo/{{food_register['file_uid']}}.jpg" width="100" height="100" />
                    </a>
                </td>
            </tr>
            </tr>
            {%endfor%}
    </table>
</body>

</html>