<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captured meals</title>
    <script src="{{ url_for('static', filename='js/meals.js') }}"></script>
</head>

<body>
    <a href="{{ url_for('index') }}">Take a food photo</a>
    <table style="border: 1px solid black; border-collapse: collapse;">
        <colgroup>
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
            <col style="border-right: 1px solid black;">
        </colgroup>
        <thead>
            <tr style="border: 1px solid black;">
                <th align="left">Created At</th>
                <th align="left">Food Type</th>
                <th align="right">Glycemic Index</th>
                <th align="right">Weight (gr)</th>
                <th align="left">Picture</th>
                <th align="left">Verified</th>
            </tr>
            {%for food_register in food_registers%}
            <tr>
                <td>{{food_register['created_at'].strftime('%Y-%m-%d %H:%M')}}</td>
                <td>{{food_register['food_type']}}</td>
                <td>{{food_register['glycemic_index']}}</td>
                <td>{{food_register['weight_grams']}}</td>
                <td><a href="/photo/{{food_register['file_uid']}}.jpg">
                        <img src="/photo/{{food_register['file_uid']}}.jpg" width="100" height="100" />
                    </a>
                </td>
                <td><input type="checkbox" {% if food_register["verified"] %}checked{% endif %} onclick="updateVerified('{{food_register["file_uid"]}}', '{{food_register["food_type"]}}', this.checked)" /></td>
            </tr>
            </tr>
            {%endfor%}
    </table>
</body>

</html>