<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Photo {{uuid_img}}</title>
</head>

<body>
    <img src="{{ url_for('static', filename='uploads/' ~ uuid_img) }}.jpg" alt="Photo">
    <br>

    <div>
        <div>Json Output</div>
        <pre>
            <div>{{ food_types }}</div>
            </pre>
    </div>

    <a href="{{ url_for('index') }}">Take another photo</a>
</body>

</html>