<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Photo</title>
</head>

<body>
    <h1>Take a Photo</h1>
    <iframe id="iframe" style="display: none;" allow="camera; microphone" src="https://192.168.1.40:5010">
        <video id="video" width="640" height="480" autoplay></video>
        <button id="snap">Snap Photo</button>
        <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
        <form id="upload-form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="file" id="file">
        </form>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </iframe>
</body>

</html>