<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Photo</title>
</head>
<body>
    <h1>Take a Photo</h1>
    <div>
        <div>
            <video id="video" height="90%" width="auto" autoplay playsinline></video>
            <canvas id="canvas" height="90%" width="auto" style="display: none;"></canvas>
            <form id="upload-form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="file" id="file">
            </form>    
        </div>  
        <div>
            <button id="snap" height="10%" width="auto">Snap Photo</button>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>    
    </div>
</body>
</html>
